mixin lecture()
  section.lecture
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .lecture__top

        .lecture__text
          p.lecture__paragraph
            | Чтобы поддержать Международный васюкинский турнир&nbsp;
            +img("content", "many_chees_players", "jpg", 394, 250, "Игроки")
            span посетите лекцию на тему:&nbsp;
            span.red-text «Плодотворная дебютная идея»

        //- +img("content", "many_chees_players", "jpg", 394, 250, "Игроки")


      .lecture__bottom

        +img("content", "bender_new", "png", 530, 568, "Пример")

        .lecture__text
          p.lecture__paragraph
            span и&nbsp;Сеанс
            span.red-text одновременной игры в&nbsp;шахматы&nbsp;на 160 досках
            | гроссмейстера О. Бендера

          +table()

          p.lecture__note.blue-text По всем вопросам обращаться в администрацию к К. Михельсону
