mixin table()
  table.table
    tr
      td Место проведения:
      td Клуб «Картонажник»
    tr
      td Дата и время мероприятия:
      td 22 июня 1927 г. в 18:00
    tr
      td Стоимость входных билетов:
      td 20 коп.
    tr
      td Плата за игру:
      td 50 коп.
    tr
      td Взнос на телеграммы:
      td
        span.text-crossed 100 руб.
        | 21 руб. 16 коп.
