mixin tiker()
  section.tiker

    h2.visually-hidden Бегущая строка фраз
    .tiker__marquee
      .tiker__track
        p.tiker__text
          span Дело помощи утопающим — дело рук самих утопающих!
          span Шахматы двигают вперед не только культуру, но и экономику!
          span Лед тронулся, господа присяжные заседатели!
          span Дело помощи утопающим — дело рук самих утопающих!
          span Шахматы двигают вперед не только культуру, но и экономику!
          span Лед тронулся, господа присяжные заседатели!
          span Дело помощи утопающим — дело рук самих утопающих!
          span Шахматы двигают вперед не только культуру, но и экономику!
          span Лед тронулся, господа присяжные заседатели!
