.blue-text {
  color: #3057a2;
  font-size: 20px;
  line-height: 24px;
  font-family: "golos-text", "Arial", sans-serif;
  letter-spacing: normal;
  user-select: none;
}

@media (max-width: 1279px) {
  .blue-text {
    font-size: 16px;
    line-height: 18px;
  }
}
