.red-text {
  color: #f54932;
  font-weight: 700;
  font-family: "merriweather", Arial, sans-serif;
  font-weight: 600;
}

@media (max-width: 767px) {
  .red-text {
    display: block;
    padding: 0;
  }
}
