.stage {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.stage .container {
  position: relative;
}

.stage .container img {
  z-index: 1000;
  position: absolute;
  bottom: 50px;
  bottom: 0;
  right: 100px;
  right: -70px;
}

.stage__title {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}

.stage__title .blue-text {
  max-width: 280px;
  display: block;
  text-transform: none;
}

.stage__title span:last-child {
  display: flex;
  align-items: center;
}

.stage__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.stage__wrapper .stage__slide-paragraph {
  counter-increment: paragraph;
  position: relative;
}

.stage__wrapper {
  counter-reset: paragraph;
}

.stage__wrapper .stage__slide-paragraph::before {
  content: counter(paragraph);
  font-family: "golos-text", "Arial", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage__slide {
  position: relative;
  font-size: 20px;
  min-height: 112px;
}

.stage__wrapper>.stage__slide:nth-child(1),
.stage__wrapper>.stage__slide:nth-child(3) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stage__wrapper>.stage__slide:nth-child(2) {
  grid-row: span 2;
  background-image: url("../../img/content/cooper-stamp-paper-bg.webp");
  background-repeat: repeat;
}

.stage__wrapper>.stage__slide:nth-child(4) {
  grid-column: span 1;
  grid-row: span 1;
}

.stage__wrapper>.stage__slide:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1;
}

.stage__wrapper>.stage__slide:nth-child(5) p {
  padding-right: 450px;
}

.stage__slide .stage__slide-paragraph {
  background-image: url("../../img/content/cooper-stamp-paper-bg.webp");
  background-repeat: repeat;
  height: 100%;
  font-size: 20px;
  line-height: 120%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 112px;
  margin: 0;
  text-align: left;
  padding-left: 70px;
  padding-right: 20px;
  user-select: none;
}

.slider__nav-btns .swiper-button-next,
.slider__nav-btns .swiper-button-prev {
  margin: 0;
  left: unset;
  top: unset;
  right: unset;
  position: relative;
  z-index: 1000;
}

.stage__nav-btns,
.stage__pagination {
  display: none;
  min-height: 60px;
}

@media (max-width: 1689px) {
  .stage__wrapper>.stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: 400px;
  }
}

@media (max-width: 1439px) {
  .stage .container img {
    right: -50px;
    right: 25px;
    bottom: 75px;
  }

  .stage__wrapper>.stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: 330px;
  }
}

@media (max-width: 1365px) {
  .stage .container img {
    right: 0;
    bottom: -25px;
  }

  .stage__wrapper>.stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: 280px;
  }
}

@media (max-width: 1279px) {
  .stage {
    padding-top: 50px;
  }

  .stage .container img {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    right: 0px;
    width: 300px;
  }

  .stage__slide p {
    padding-left: 60px;
  }
}

@media (max-width: 1023px) {
  .stage__slide::after {
    top: 10px;
    left: 10px;
  }

  .stage .container img {
    width: 280px;
  }

  .stage__slide .stage__slide-paragraph {
    font-size: 16px;
    padding-left: 60px;
  }

  .stage__wrapper>.stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: 250px;
  }
}

@media (max-width: 767px) {
  .stage__title {
    align-items: baseline;
  }

  .stage__title span:last-child {
    flex-direction: column;
  }

  .stage__nav-btns,
  .stage__pagination {
    min-height: 36px;
    display: flex;
  }

  .stage__nav-btns {
    width: 178px;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
  }

  .stage__pagination {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination.stage__pagination {
    width: 100%;
    display: flex;
    height: 10px;
    bottom: 10px;
    z-index: 900;
    position: absolute;
  }

  .swiper-pagination.stage__pagination .swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #D9D9D9;
    border-radius: 100px;
  }

  .swiper-pagination.stage__pagination .swiper-pagination-bullet-active {
    background-color: #313131;
  }

  .stage__slide .stage__slide-paragraph {
    background-image: none;
  }

  .stage {
    padding-bottom: 60px;
  }

  .stage__wrapper .stage__slide .stage__slide-paragraph {
    height: 50%;
    font-size: 18px;
  }

  .stage__slide .stage__slide-paragraph {
    height: 50%;
    font-size: 18px;
  }

  .stage__slide {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: auto;
    margin: 0;
  }

  .swiper-slide.stage__slide {
    display: block;
    width: 100%;
    height: 100%;
  }

  .stage__wrapper .stage__slide-paragraph::before {
    content: counter(paragraph);
    position: absolute;
    top: 60px;
  }

  .stage__wrapper {
    gap: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .stage .container img {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
    right: unset;
    z-index: 1000;
    width: unset;
  }

  .stage__wrapper>.stage__slide {
    width: 100%;
    min-height: 300px;
    justify-content: flex-start;
    background-image: url("../../img/content/cooper-stamp-paper_mobile@3x.webp");
    background-repeat: repeat;
  }

  .stage__wrapper>.stage__slide .stage__slide-paragraph {
    width: 100%;
    padding-top: 60px;
  }

  .stage__wrapper>.stage__slide p:not(:first-child) {
    width: 100%;
    padding-top: 20px;
  }

  .stage__wrapper > .stage__slide p:not(:first-child)::before {
    content: counter(paragraph);
    position: absolute;
    top: 20px;
  }

  .stage__wrapper> .stage__slide:nth-child(1),
  .stage__wrapper> .stage__slide:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .stage__wrapper> .stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: unset
  }

  .swiper.stage__swiper {
    width: 100%;
  }

  .stage__title span:last-child {
    align-items: baseline;
  }

  .stage__wrapper .stage__slide .stage__slide-paragraph {
    padding-left: 70px;
  }

  .stage__wrapper>.stage__slide:nth-child(5) .stage__slide-paragraph {
    padding-right: 20px;
  }
}

@media (max-width: 375px) {
  .stage__slide .stage__slide-paragraph {
    font-size: 18px;
  }
}
