table {
  width: 705px;
  border-collapse: collapse;
  border: 1px solid #fff;
  user-select: none;
}

table tr td {
  padding: 16px;
  color: #313131;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #D0D0D0;

}

table tr td:first-child {
  width: 45%;
  font-weight: 400;
  padding-left: 0;
}

table tr td:last-child {
  width: 55%;
  font-weight: 600;
}

table tr td:first-child {
  border-left: 1px solid #fff;
}

table tr td:last-child {
  border-right: 1px solid #fff;
}

table tr:first-child td {
  border-top: 1px solid #fff;
}

table tr:last-child td {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1365px) {
  table {
    width: 500px;
  }
}

@media (max-width: 1279px) {
  table tr td {
    padding: 10px;
  }

  table {
    width: 450px;
  }
}

@media (max-width: 1023px) {
  table {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  table {
    width: 100%;
  }

  table tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: none;
    border-bottom: 2px solid #D0D0D0;
  }

  table tr td:first-child {
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 100%;
  }

  table tr td:last-child {
    border-left: none;
    padding-left: 0;
    width: 100%;
  }

  table tr td {
    border: none;
  }

  table tr:nth-child(4) {
    flex-direction: row;
  }

  table tr:nth-child(4) td:first-child {
    width: 30%;
  }
}
