//- Base

include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img

//- Blocks

include ./blocks/mainscreen
include ./blocks/tiker
include ./blocks/lecture
include ./blocks/stage
include ./blocks/slider
include ./blocks/table
include ./blocks/logo
